<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>超市账单管理系统-账单管理</title>
	<link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">

</head>
<body>

	<div class="menu">

		<table>
			<tbody>
				<tr>
<!--					到/bill/findLike模糊查询-->
					<td><form method="post" th:action="@{/bill/findLike}">
							<input name="method" value="query" class="input-text" type="hidden"> 
							商品名称：<input name="productName" class="input-text" type="text" value="">
							供应商名称：<input name="proName" class="input-text" type="text" value="">
							
							是否付款：<input type="radio" name="isPayment" value="1">是<input type="radio" name="isPayment" value="0">否
							<input value="查 询" type="submit">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="main">

		<div class="optitle clearfix">
<!--			到/bill/toBillAdd-->
			<em><input value="添加账单" class="input-button" th:onclick="window.location='/bill/toBillAdd'" type="button">
			</em>
			<div class="title">账单管理&gt;&gt;</div>
		</div>
		<div class="content">
			<table class="list">
				<tbody>
					<tr>
						<td width="70" height="29"><div class="STYLE1" align="center">编号</div>
						</td>
						<td width="80"><div class="STYLE1" align="center">商品名称</div>
						</td>
						<td width="80"><div class="STYLE1" align="center">供应商</div>
						</td>
						<td width="100"><div class="STYLE1" align="center">账单金额</div>
						</td>
						<td width="100"><div class="STYLE1" align="center">是否付款</div>
						</td>
						<td width="100"><div class="STYLE1" align="center">操作时间</div>
						</td>
					</tr>
					
					<tr th:each="bills:${bills}">
						<td height="23"><span class="STYLE1" th:text="${bills.id}">6</span>
						</td>
						<td><span class="STYLE1"><a th:href="@{/bill/toBillView/}+${bills.id}" style="color:red" > [[${bills.productName}]]</a>
						</span>
						</td>
						<td><span class="STYLE1" th:text="${bills.proName}"> 北京市粮油总公司</span>
						</td>
						<td><span class="STYLE1" th:text="${bills.totalPrice}">5000.0</span>
						</td>
						<td><span class="STYLE1" th:text="${bills.isPayment}">
							
							 否
						</span>
						</td>
						<td><span class="STYLE1" th:text="${#dates.format(bills.modifyDate, 'yyyy-MM-dd')}">2014-10-10</span>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>