<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
* {padding:0px; margin:0px;height:100%; width:100%;}
.content  {padding-top:100px;box-sizing:border-box}
.top {height:100px; width:100%;position:absolute; top:0px;}
.left{ float:left;width:20%;}
.right{ float:left;width:80%;}
#top{height:100px;}
</style>
</head>
<body>
<div class="content">
			<div class="top">
				<iframe th:src="@{/top}"  scrolling="No"  id="top" noresize="noresize">
				</iframe>
			</div>
				<div class="main">
					<div class="left">
						<iframe th:src="@{/left}" scrolling="No"  id="left" noresize="noresize">
					  </iframe>
						</div>
					<div class="right">
						<iframe th:src="@{/main}"  id="mainFrame" name="mainFrame" noresize="noresize" >
					  </iframe>
					</div>
<!--					<span id="loginNameSpan" >[[${user}]]</span>欢迎使用超市账单管理系统-->
				</div>
</div>

</body>
</html>