<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>超市账单管理系统-供应商管理</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="menu">
    <table>
        <tbody>
        <tr>
            <td>
                <form method="post" th:action="@{/provider/findLike}">
                    <input name="method" value="query" class="input-text" type="hidden"> 供应商名称：
                    <input name="proName" class="input-text" type="text" value="">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input value="查 询" type="submit">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main">

    <div class="optitle clearfix">
        <em><input value="添加供应商" class="input-button" th:onclick="window.location='/provider/toProviderAdd'" type="button">
        </em>
        <div class="title">供应商管理&gt;&gt;</div>
    </div>
    <div class="content">
        <table class="list">
            <tbody>
            <tr>
                <td width="70" height="29">
                    <div class="STYLE1" align="center">编号</div>
                </td>
                <td width="80">
                    <div class="STYLE1" align="center">供应商名称</div>
                </td>
                <td width="80">
                    <div class="STYLE1" align="center">联系人</div>
                </td>
                <td width="100">
                    <div class="STYLE1" align="center">联系电话</div>
                </td>
                <td width="100">
                    <div class="STYLE1" align="center">传真</div>
                </td>
                <td width="100">
                    <div class="STYLE1" align="center">操作时间</div>
                </td>
            </tr>

            <tr th:each="provider:${providers}">
                <td height="23"><span class="STYLE1" th:text="${provider.id}">5</span></td>
                <td><span class="STYLE1"><a th:href="@{/provider/toProviderView/}+${provider.id}" style="color:red"> [[${provider.proName}]]</a></span></td>
                <td><span class="STYLE1" th:text="${provider.proContact}"> 黄上清</span></td>
                <td><span class="STYLE1" th:text="${provider.proPhone}">18900000000</span></td>
                <td><span class="STYLE1" th:text="${provider.proFax}"></span></td>
                <td><span class="STYLE1" th:text="${#dates.format(provider.modifyDate, 'yyyy-MM-dd')}">2014-10-09</span></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>