<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>超市账单管理系统-用户管理</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
	<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/vue.js}"></script>
</head>
<body>
	<div class="menu">
		<table>
			<tbody>
				<tr>
					<td><form method="post" th:action="@{/user/findLike}">
							<input name="method" value="query" class="input-text" type="hidden"> 用户名：<input th:name="userName" class="input-text" type="text" value="">&nbsp;&nbsp;&nbsp;&nbsp;
							<input value="查 询" type="submit">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="main">
		<div class="optitle clearfix">
			<em><input value="添加用户" class="input-button" onclick="window.location='/user/toUserAdd'" type="button">
			</em>
			<div class="title">用户管理&gt;&gt;</div>
		</div>
		<div class="content">
			<table class="list">
				<tbody>
					<tr>
						<td width="70" height="29"><div class="STYLE1" align="center">编号</div>
						</td>
						<td width="80"><div class="STYLE1" align="center">用户名</div>
						</td>
						<td width="80"><div class="STYLE1" align="center">用户编码</div>
						</td>
						<td width="100"><div class="STYLE1" align="center">性别</div>
						</td>
						<td width="100"><div class="STYLE1" align="center">年龄</div>
						</td>
						<td width="150"><div class="STYLE1" align="center">电话</div>
						</td>
						<td width="150"><div class="STYLE1" align="center">权限</div>
						</td>
					</tr>
					<tr th:each="users:${users}">
						<td height="23">
							<span class="STYLE1" th:text="${users.id}">-1</span>
						</td>
						<td>
							<span class="STYLE1" th:text="${users.userName}"> 管理员 </span>
						</td>
						<td>
							<span class="STYLE1"><a th:href="@{/user/toUserView/}+${users.id}"> [[${users.userCode}]]</a></span>
						</td>
						<td>
							<span class="STYLE1" th:text="${users.gender}==1?'男':'女'"></span>
						</td>
                       		<td ><span class="STYLE1" th:id="${users.id}"></span></td>
<!--使用footer宣告失败		<td id="footer"><span class="STYLE1" id="old"></span></td>-->
<!--	                    <div th:insert="~{userList :: #footer}"></div>-->
						<td>
							<span class="STYLE1" th:text="${users.phone}">323232</span>
						</td>
						<td>
							<span th:if="${users.userType} == 1">管理员</span>
							<span th:if="${users.userType} == 2">普通人员</span>
							<span th:if="${users.userType} == 3">经理</span>
						</td>
						<td hidden><span th:id="year1+${users.id}" class="STYLE1" th:text="${#dates.createNow()}"></span></td>
						<td hidden><span th:id="year2+${users.id}" class="STYLE1" th:text="${users.birthday}"></span></td>
						<td hidden><span id="length" th:text="${length}"></span></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/user/list.js}"></script>
</body>
</html>